.form {
  margin: 1rem;
  width: 25%;
}

.form-control {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form button {
  margin-top: 0.25rem;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control .invalid {
  border-color: red;
}
