extends ../layouts/main-layout.pug 

block content 
    if products.length > 0
        ul 
            each product in products 
                li 
                    p #{product.data.title} (#{product.quantity})
                    form(action="/cart-delete-item", method="POST")
                        input(type="hidden" value=`${product.data.id}` name="productId")
                        button.btn(type="submit") Delete
    else 
        h1 No products!