extends ../layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/cart.css")

block content 
    ul.cart__item-list
            each product in products 
                li.cart__item
                    h1 #{product.data.title} 
                    h2 Quantity: #{product.quantity}
    div 
        h2 Total: #{total}