extends ../layouts/main-layout.pug 

block content 
    if orders.length <= 0
        h1 No orders! 
    else 
        ul
            each order in orders
                li 
                    h1 #{order._id}
                    ul 
                        each product in order.items
                            li #{product.title} (#{product.quantity})
