<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <a class="active" href="/"><li class="main-header__item">Home</li></a>
          <a href="/users"><li class="main-header__item">Users</li></a>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Main Page</h1>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pulvinar
        iaculis velit. Integer lectus risus, pharetra at libero quis,
        ullamcorper consectetur lorem. In tempus risus nec laoreet iaculis.
        Aliquam ornare odio at tristique maximus. Vivamus eu sodales mi. Duis
        congue ornare velit, vitae feugiat felis consectetur congue. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Fusce semper massa nulla, quis tempus mi ornare eu.
        Morbi ac magna aliquet arcu porttitor laoreet eget eget nunc. Nam vel
        eros consectetur, tempor risus nec, dapibus ipsum. Phasellus placerat
        interdum dui, eu mattis lacus. Fusce pretium turpis id nisi eleifend
        interdum. Quisque tempor ex ultricies turpis efficitur molestie.
        Pellentesque ullamcorper lectus sit amet leo blandit ultricies. Nullam
        lacinia dui nec pellentesque venenatis. Curabitur sodales libero viverra
        consectetur ultricies.
      </p>
    </main>
  </body>
</html>
