<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/users.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <a href="/"><li class="main-header__item">Home</li></a>
          <a class="active" href="/users"
            ><li class="main-header__item">Users</li></a
          >
        </ul>
      </nav>
    </header>

    <main class="content">
      <h1>Users</h1>
      <hr />
      <ul class="content__users-list">
        <li class="content__user-item">User 1</li>
        <li class="content__user-item">User 2</li>
        <li class="content__user-item">User 3</li>
      </ul>
    </main>
  </body>
</html>
