doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        header.main-header
            nav.main-header__nav
                ul.main-header__nav-list
                    a(href="/")
                        li.main-header__nav-item Home 
                    a(href="/users") 
                        li.main-header__nav-item Users
        
        main.main-content
            block content