extends ../layouts/main-layout.pug 

block styles 
    link(rel="stylesheet", href="/css/cart.css")

block content 
    if products.length > 0
        ul.cart__item-list
            each product in products 
                li.cart__item
                    h1 #{product.productId.title} (#{product.quantity})
                    form(action="/cart-delete-item", method="POST")
                        input(type="hidden" value=`${product._id}` name="productId")
                        input(type="hidden", name="_csrf", value=`${csrfToken}`)
                        button.btn(type="submit") Delete
        a.btn(href="/checkout") Order Now! 
    else 
        h1 No products in cart!